{% extends "dashboard/base.html" %}
{% load ui_icons i18n %}
{% block title %}{% translate "Password changed" %}{% endblock %}
{% block body_class %}auth{% endblock %}
{% block content %}
<div class="auth-card">
  <div class="auth-brand">{% icon "qr" "i-lg" %} {{ platform_name }}</div>
  <h1>{% translate "Password changed" %}</h1>
  <p>{% translate "You can now log in with your new password." %}</p>
  <a class="btn btn-primary btn-block" href="{% url 'accounts:login' %}">{% translate "Log in" %}</a>
</div>
{% endblock %}
